h1 {
    font-style: inherit;
    color: black;
}
.profession{
    color: black;
    float: left;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
    background-color: honeydew;