h1 {
    font-style: inherit;
    color: black;
}
.profession{
    color: black;
    float: left;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
    background-color: honeydew;
}
.test-box{
    float: left;
    border: 2px;
    padding: 2px;
    margin: 10px;
    background-color: grey:
}
.aboutme{
    background-color: honeydew;
    font-family: fantasy;
    font-size: large;
}
.about {
    color: skyblue;
    font-size: large;
    text-underline-position:  below;
    float: inline-start;
    font-size: large;
}
.list {
    color: black;
    font-family: oblique;
    font-style: oblique;
}
.contact {
    color: black;
    font-weight: bolder;
}
.history1 {
    font-weight: normal;
    float: left;
    background-color: honeydew;
}
.column{
    float:right;
    width: 700px;
    font-style: inherit;
    font-weight: medium;
    font-size: large;
    background-color: honeydew;
}